@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');

:root {
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

* {
  font-family: 'Lato', sans-serif;
}
